<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link rel="shortcut icon" href="/assets/mainlogo.png" type="image/x-icon">
</head>
<body>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h4>Our Story</h4>
        <ul>
          <li><a href="http://localhost:3000/about">About ZustVeg</a></li>
          <li><a href="http://localhost:3000/how-it-work">How It Works</a></li>
          <li><a href="http://localhost:3000/partener-with-us">Partner With Us</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Help</h4>
        <ul>
          <li><a href="http://localhost:3000/faq">FAQs</a></li>
          <li><a href="http://localhost:3000/return">Returns</a></li>
          <li><a href="http://localhost:3000/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-column signup">
        <h4>Sign Up</h4>
        <p>Get fresh offers & updates in your inbox.</p>
        <form>
          <input type="email" placeholder="Your email" />
          <button>→</button>
        </form>
      </div>
      <div class="footer-column">
        <h4>Follow Us</h4>
        <p>Instagram | YouTube | Facebook</p>
      </div>
    </div>
    <p class="footer-bottom">© 2025 ZustVeg. Grown with ❤️ in India.</p>
    <p class="footer-bottom" style="margin-top: 2px;">© Made By Naitik Jain</p>
  </footer>
  
</body>
</html>